{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{% block head %}
  {{ super() }}
	<style>
		   .btn-file {
				position: relative;
				overflow: hidden;
			}
		
			.btn-file input[type=file] {
				position: absolute;
				top: 0;
				right: 0;
				min-width: 100%;
				min-height: 100%;
				font-size: 100px;
				text-align: right;
				filter: alpha(opacity=0);
				opacity: 0;
				outline: none;   
				cursor: inherit;
				display: block;
			}
	</style>
{% endblock %}
{% block content %}
  	<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

	  	<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
		  	{% for lab in navlabels %}
				<li class="nav-item">
					<a class="nav-link small" href="{{ lab }}">{{ lab }}</a>
				</li>
		  	{% endfor %}
			</ul>
	  	</div>
	</nav>
	
	<div class="p-2">
		<form method="POST" action="" id="setform">
			{{ form.hidden_tag() }}
			{% for field in form if field.widget.input_type != 'hidden' %}
				<div class="row g-2 p-1 align-items-center"> 
					<div class="col-2 {{ field.render_kw['pad'] }} small d-none d-md-block"><strong> {{ field.label }} </strong></div>
					<div class="col-2 {{ field.render_kw['pad'] }} small d-block d-md-none" style="min-width:100px"><strong> {{ field.label }} </strong></div>
					<div class="col-auto px-0">
					  <a href="#" data-bs-toggle="tooltip" title="{{ field.description }}" data-bs-placement="top"><i class="bi bi-question-circle"></i></a>
					</div>
					<div class="col-4 {{ field.render_kw['invalid'] }} {{ field.render_kw['fill'] }}"> {{ field }} </div>
					<div class="col-auto ms-auto">
						<button name='-<[{{ field.name }}]>-' class="btn-outline-secondary btn-sm btn {{ field.render_kw['classdep'] }}" depval="{{ field.render_kw['depval'] }}" {{ field.render_kw['disabled'] }}>Reset</button>
					</div>
				{% if field.errors %}
					<div class="offset-md-2 invalid-feedback"> {{ field.errors }} </div>
				{% endif %}
				</div>
			{% endfor %}
			{% if reset_needed%}
				<div class="row g-2 p-1">
					<div class="col-auto"><div class="text-left px-0 text-danger" style="font-size:12px"><strong>Service restart needed after changing these settings!</strong></div></div>
				</div>
			{% endif %}
			<div class="row g-2 p-1">
				<div class="col-auto"><button class="btn btn-primary" name='SAVE' id='SAVE' value='SAVE'>Save</button></div>			
				<div class="col-auto"><button class="btn btn-secondary" name='CANCEL' id='CANCEL' value='CANCEL'>Cancel</button></div>
				<div class="col-auto flex-fill"></div>
				<div class="col-auto"><button class="btn btn-outline-secondary" id='DEFAULTS' name='DEFAULTS' value='DEFAULTS'>Reset All To Defaults</button></div>
			</div>		
		</form>
		<div class="row g-2 p-1">
			<div class="col-auto flex-fill"></div>
			<div class="col-auto"><a href="{{ url_for('export') }}" target="_blank" download="config.cfg"><button class="btn btn-outline-secondary" type="button" id='EXPORT' name='EXPORT' value='EXPORT'>Export Settings</button></a></div>
			<div class="col-auto">
				<form action="{{ url_for('import_settings') }}" method="POST" enctype="multipart/form-data">
					<button class="btn btn-outline-secondary btn-file form-control" type="button" id="IMPORT" name='IMPORT' value='IMPORT'>
						<input type="file" onchange="this.form.submit();" name="file">Import Settings
					</button>
				</form>
			</div>
		</div>
	</div>

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<script>
		  var messages = {{ messages | safe }};
		  for (var i=0; i<messages.length; i++) {
			alert(messages[i]);
		  }
		</script>
	  {% endif %}
	{% endwith %}
	<script>
		$(function () {
		  $(".navbar-nav .nav-link").each(function () {
			if (window.location.href == (this.href)) {
			  $(this).closest("a").addClass("active");
			  $(this).closest("a").parent().parent().addClass("active");
			}
		  });
		});

		$(".settings-menu").addClass("link-light");
	</script>
	<script>
		 $('#DEFAULTS').on('click', function () {
			if (confirm('Are you sure you want to reset all to default values?')) {        
				return true;
			} else {
				return false;		
			}
		});
		
		 $('#SAVE').on('click', function () {
			if (confirm('Are you sure you want to save all changes?')) {        
				return true;
			} else {
				return false;		
			}
		});
		
		 $('#CANCEL').on('click', function () {
			if (confirm('Are you sure you want to cancel all changes?')) {        
				return true;
			} else {
				return false;		
			}
		});
		
		 $('#IMPORT').on('click', function () {
			if (confirm('Are you sure you want to import settings file? Any unexisting properties in the uploaded file will be set to default values.')) {        
				document.getElementById('file').click();
			} else {
				return false;
			}
		});
		
		$('document').ready(function(){
			$('[data-bs-toggle=tooltip]').tooltip();
		});
		
		$('.checkbox').change(function() {
		  if (!$(this).is(':checked')) {
			$('.'+this.getAttribute('name')).attr('disabled', '');
		  } else {
			$('.'+this.getAttribute('name')).removeAttr('disabled');
		  }
		});
		
		$('.form-select').change(function() {
		  var selectedOption = $(this).children("option:selected").text();
		  $('.'+this.getAttribute('name')+'[depval="'+selectedOption+'"]').removeAttr('disabled');
		  $('.'+this.getAttribute('name')+'[depval!="'+selectedOption+'"]').attr('disabled', '');
		});
	</script>
{% endblock %}