{% extends "layout.html" %}
{% block title %}Statistics{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
	<div class="col-auto flex-fill px-0 py-2 align-items-center overflow-auto">
		<div class="row align-middle mx-2 px-0 py-2">
			<div class="col-auto">
				Data:
			</div>
			<div class="col-auto flex-fill px-1">
				<select class="form-select form-select-sm" onInput='act()' id='dropdown'>
			  		<option value="load" selected>Loads</option>
			  		<option value="mem">Memory</option>
		  			<option value="temp">Temperature</option>
				</select>
			</div>
		</div>
		<div class="row align-middle mx-2 px-0 py-2">
			<div class="col col-auto flex-fill"></div>
			<div id="graph" class="col col-auto" style="font-size:10px"></div>
			<div class="col col-auto flex-fill"></div>
		</div>
		<img class="row mx-auto" id="load-img" src="{{ url_for('static', filename='loader.gif') }}" />
	</div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/javascriptrrd/binaryXHR.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/javascriptrrd/rrdFile.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/javascriptrrd/rrdFlotSupport.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/javascriptrrd/rrdFlot.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/flot/jquery.flot.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/flot/jquery.flot.selection.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/flot/jquery.flot.tooltip.min.js') }}"></script>
	<script>
		function draw(bf) {
			var rrdflot_defaults = {graph_width:"600px", graph_height:"225px", scale_width:"300px", scale_height:"90px"};
			var gtype_format={'load1':{ title:'Load 1 min', label:'Load 1 min', color:"#FBD148", checked:true }, 'load5':{ title:'Load 5 min', label:'Load 5 min', color:'#F9975D', checked:true}, 'load15':{title:'Load 15 min', label:'Load 15 min', color:'#C85C5C', checked:true}};
			var optionValue = document.getElementById("dropdown").value;
			var graph_options = {tooltipOpts: { content: '<b>%s</b><br/>Value: %y.3' }}
			
			if (optionValue == 'temp') {
				ds_op_list = ['temp'];
				gtype_format={'temp':{ title:'Temperature', label:'Temperature', color:"#5584AC", checked:true }};
			} else if (optionValue == 'mem') {
				ds_op_list = ['total', 'used', 'free', 'available'];
				gtype_format={'total':{ title:'Total Memory', label:'Total Memory', color: "#542E71", checked:true }, 'used':{ title:'Used Memory', label:'Used Memory', color:'#FB3640', checked:true }, 'free': { title:'Free Memory', label:'Free Memory', color:'#FDCA40', checked:true }, 'available': { title:'Available Memory', label:'Available Memory', color:'#A799B7', checked:true }};
			}
			
			var graph = new rrdFlot("graph", new RRDFile(bf), graph_options, gtype_format, rrdflot_defaults);
   			$('#load-img').hide();
		}		
		
		function act() {
   			$('#load-img').show();
			$("#graph").html("");
			var fname="{{ url_for('static', filename='data/load.rrd') }}";
			var optionValue = document.getElementById("dropdown").value;
			
			if (optionValue == 'temp') {
				fname="{{ url_for('static', filename='data/temp.rrd') }}";
			} else if (optionValue == 'mem') {
				fname="{{ url_for('static', filename='data/mem.rrd') }}";				
			}
			
			FetchBinaryURLAsync(fname, draw)
		}
		
		act();		
		$(".stats-menu").addClass("link-light");
	</script>
{% endblock %}